html {
    font-family:'Press Start 2P';
}

body {
    margin: 0;
    /* background-color: rgb(4, 11, 23); */
    background: linear-gradient(90deg, rgb(8, 26, 61) 0%, rgb(148, 157, 190) 100%)
  }
.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#maincontainer{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 350px;
    min-height: 450px;
    width: 50vh ;
    height: 50vh;
    gap: 2px; 
    text-align: center;
    border-radius: 10px;
    user-select: none;
    box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    
}

#displayMemory { 
    border: solid black 1px;  
    border-bottom: 0px ;
    grid-column: 1/5;
    padding-bottom: 30px;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    color: rgb(4, 11, 23); 
    min-height: 10px;
    font-size: 15px;
    user-select: text; 
}

#displayMain {
    color: rgb(4, 11, 23);
    border: solid black 1px;
    border-top: 0 ;
    grid-column: 1/5;
    padding-bottom: 30px;
    overflow: auto;
    text-align: left;
    padding: 10px;
    font-size: 25px ;
    margin-top: -10px;
    min-height: 30px;
    user-select: text;
    
}
.numKeypad, .operatorKeypad, .specialKey{
    padding: 10px;
    border: solid 1px;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(107, 117, 152);
    color: rgb(4, 11, 23);
    font-size: 20px;
    
}

#allClear, #deleteBtn{
    background:linear-gradient(90deg, rgb(231, 86, 86) 0%, rgb(241, 125, 241) 100%);
}
